.Navbar {
  background: purple;
  padding: 12px;
  padding-bottom: 18px;
  text-decoration: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.Navbar > a:hover {
  color: #949998;
  transition: all 0.3s ease;
}

.Navbar > a {
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 26px;
  text-align: center;
}
