.Navbar {
  background: #92bcb5;
  padding: 15px 50px;
  text-decoration: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.Navbar > a:hover {
  color: #949998;
  transition: all 0.3s ease;
}

.Navbar > a {
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 32px;
  text-align: center;
}
